H1 
{ 
    <! -- color :blue;
    <! -- font-family: arial;
    text-align: center ;
}

form
{
    text-align: center ;
}

p
{
    <! -- font-family: arial; 
    text-align: center ;
}

.btn-group 
{
    display: flex;
    align-items: center;
    justify-content: center;

}

button
{
    text-align: center ;
}